
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.container {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 400px;
  padding: 20px;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}


.todo-input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  display: block;
  margin-bottom: 15px;
}


ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}


.todo-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}


.todo-text {
  flex: 1; 
  text-align: left;
  padding-right: 10px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}


.todo-buttons {
  display: flex;
  gap: 6px; 
}


button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
  min-width: 35px; /
}


.delete-btn {
  background-color: #f44336;
}


button:hover {
  opacity: 0.8;
}
